body{
	padding:26px 40px;
	font-family: 'Open Sans', Arial, sans-serif;
	width:900px;
	margin-left:200px;
}

#heading{
	background-color: #eee;
	padding: 5px 30px;
}

#heading h2, #heading p, #heading input {
	display: inline-block;
} 

h4{
	margin-bottom:10px;
}

.end_image{
	margin-right: 20px;
}

#heading input {
	float:right;
	margin-top: 20px;
}

#heading p{
	margin-left:30px;
}

#next_turn_button, #begin_game{
	background-color: #5C8D23;
	color: #fff;
	padding: 10px 15px;
	font-size: 1em;
	font-family: "Open Sans", Arial, sans-serif;
	border: none;
	border-radius: 4px;
}



#next_turn_button:hover,#next_turn_button:active, #begin_game:active, #begin_game:hover{
	background-color: #3C4F19;
	cursor: pointer;
}

a{
	text-decoration: none;
}

#begin_game{
	display: inline-block;
	margin-top: 30px;
}

#add_kitchen_waste, #spray_water, #add_sawdust, #play_again{
	background-color: #4679a7;
	color: #fff;
	padding: 5px 10px;
	font-size: 0.8em;
	font-family: "Open Sans", Arial, sans-serif;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
}
#add_kitchen_waste:hover, #add_kitchen_waste:active, #spray_water:hover, #spray_water:active, #add_sawdust:hover, #add_sawdust:active, #play_again:hover, #play_again:active {
	background-color: #286295;
	cursor: pointer;
}

#kitchen_waste{
	margin-bottom: 20px;
}

#water_spray{
	margin-right: 20px;
}

img{
	border:1px solid #ddd;

}

.waste_container{
	width:150px;
	height:100px;
	border: 1px solid #ddd;
}

.bin_container{
	width:300px;
	height:300px;
	border: 1px solid #ddd;
}

#bin{
	height: 350px;
	margin-bottom: 20px;
}


#tools{
	height: 150px;
	display: flex;
}

#compost_top_image{
	margin-bottom: 20px;
}

#body_content{
	height:500px;
	width:100%;
    padding: 10px 0;
    display: flex;
}

#content_part_one{
	width: 50%;
}
#content_part_two{
	width: 50%;
}

#waste_view > div{
	display: inline-block;

}